black
django
django-environ
django-stubs
django-stubs-ext
djlint
flake8
ipython
isort
mypy
mypy-extensions
pip-lock
pip-tools
pre-commit
pytest
pytest-cov
pytest-django
python-dotenv
selenium
webdriver-manager
